<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TripTreats</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
 
 
<body>
    <!-- <header class="header">
        <div class="logo">
          <h1>Trip Treats</h1>
      </div>
      <div class="nav">
        <% if(data=="admin"){ %>
          <a href="/addflights"><h4>Add flights</h4></a>
        <% } %>  
          <a href="/home"><h4>Home</h4></a>
          <a href="/viewflights"><h4>Flights</h4></a>
          <a href="/packages"><h4>Packages</h4></a>
          <a href="/about"><h4>About</h4></a>
          <a href="/logout"><h4>Logout</h4></a>
              
      </div>
      <div class="profile">
        <div class="circle"><img class="profile_logo" src="/static/assets/profileicon.svg"></div>
        <div class="dropdown">
            <a href="/profile">PROFILE</a>
           
            <a href="/logout">SIGNOUT</a>
 
        </div>
    </div>
      </header> -->
    <%- include('header.ejs')%>
    <section class="section">
    <h1 class="user">Hello , <%= USER.name.toUpperCase() %></h1>
    
    <div class="search-form">
        <form>
            <input type="text" name="flightId" placeholder="Enter the unique Flight Id">
            <input type="text" name="fname" placeholder="Enter Flight Name">
            <input type="text" name="source" placeholder="Enter Source">
            <input type="text" name="destination" placeholder="Enter Destination">
            <input type="number" name="count" placeholder="Total available seats">
            <input type="date" name="tripdate" placeholder=""><br/>
            <input type="text" name="arrivaltime" placeholder="Enter Arrival Time">
            <input type="text" name="departuretime" placeholder="Enter Departure Time">
            <input type="text" name="price" placeholder="Enter Price per Ticket">
            <br/>
            <br/><button type="submit">Add Flight</button>
        </form>
  </div>  

    <div id="flights">

    </div>

    
    </section>
    <%- include('footer') %>
 
    
</body>
<script src="/static/js/addflights.js"></script>
</html>
 
