.edit-form {
    max-width: 30%;
    margin-top: 50px;
    display: flex;
    gap: 12px;
}

.box {
    display: flex;
    align-items: center;
}

.edit-form label {
    max-width: 150px;
    flex-grow: 1;
}

.edit-form input {
    flex-grow: 1;
    padding: 7px 5px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-form button {
    margin-top: 25px;
    padding: 10px 20px;
    background-color: var(--btn-color);
    color: #fff;
    font-size: large;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
}