#userprofile{
    background-color:cadetblue;
    max-width: 22%;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userimage{
    width: 20%;
    height: 20%;
    object-fit: cover;

}
.section{
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.profile1 {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 20px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 50px;
    
   
   
}

.profile1 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile1 .details {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}

.profile1 h2 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

.profile1 p {
    font-size: 16px;
    margin: 5px 0 0;
    color: #666;
}
.userdata{
    display: flex;
    flex-direction: row;
    /* justify-content: start; */
    height: 70px;
    align-items: center;
  }
  
  
  .key{
    color: var(--text-color-charcol);
    width:100px;
    font-size: 20px;
  }
  .mid{
    width:100px;
    font-size: 20px;
  }
  .value{
    color: var(--text-color-charcol);
    /* width:100px; */
    font-size: 20px;
  }